Pillow==11.2.1
torch==2.9.1
torchvision==0.24.1
transformers==4.57.3
sentence-transformers==5.2.0
scikit-learn==1.8.0
tqdm==4.67.1
opencv-python==4.12.0.88
imagehash==4.3.2
flet==0.28.3
pillow-heif==1.3.0
piexif==1.1.3
pyinstaller==6.19.0
